/************************TAG SELETORS ******************************/

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #616f39;
  margin-top: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: justify;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 0;
}


p {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
}

td {
  padding-right: 20px;
}



/***********************CLASS SELETORS ******************************/
.page1-container {
  /*background-image: url("../images/imgKeyBoard.jpg");*/
  background-color: #000000;
  width: 100%;
  height: 780px;
}

.img-sitelogo {
  width: 600px;
  height: 450px;
}

.introduction {
  height: 400px;
  width: 400px;
  position: absolute;
  left: 320px;
  top: 440px;
  }

.p-intro {
  font-family: 'Merriweather', serif;
  color: #616f39;
}

.page2-container {
  background-color: #3e432e;
  width: 100%;
  height: 2075px;
}

.page2-title {
  position: absolute;
  left: 400px;
  top: 860px;
  font-family: 'Montserrat',  sans-serif;
  color: #ffffff;
}


.div-decoration-box1 {
  position: absolute;
  left: 492px;
  top: 1427px;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  background-color: #3e432e;
}

.div-decoration-box2 {
  position: absolute;
  left: 492px;
  top: 1879px;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  background-color: #3e432e;
}

.div-decoration-box3 {
  position: absolute;
  left: 492px;
  top: 2332px;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  background-color: #3e432e;
}

.menu-container {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
}

.menu-links {
  text-decoration: none;
}

.menu-text {
  position: absolute;
  right: 10px;
  top: 10px;
}
.footer-container {
  height: 110px;
  width: 100%;
  background-color: #000000;
}

.footer-menu {
  position: absolute;
  left: 330px;
  top: 2875px;
  background-color: #000000;
}

.footer-p {
  font-family: 'Merriweather', serif;
  color: #616f39;
  position: absolute;
  left: 350px;
  top: 2925px;
  }

.img-keyboard {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 51px;
  left: 0;
}

.img-name {
  width: 175px;
  height: 175px;
  position: absolute;
  left: 233px;
  top: 240px;
}

.img-ProductOffering {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50px;
  top: 250px;
}

.ba-div {
  position: absolute;
  left: 25px;
  top: 1000px;
  width: 490px;
  height: 450px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  text-align: center;
}

.ba-img-div {
  position: absolute;
  left: 565px;
  top: 800px;
  width: 400px;
  height: 400px;
  border-style: none;
}

.map-div {
  position: absolute;
  left: 518px;
  top: 1453px;
  width: 490px;
  height: 450px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  text-align: center;
}

.map-img-div {
  position: absolute;
  left: 75px;
  top: 1253px;
  width: 400px;
  height: 400px;
  border-style: none;
}

.bp-div {
  position: absolute;
  left: 25px;
  top: 1905px;
  width: 490px;
  height: 450px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  text-align: center;
}

.bp-img-div {
  position: absolute;
  left: 565px;
  top: 1705px;
  width: 400px;
  height: 400px;
  border-style: none;
}

.dev-div {
  position: absolute;
  left: 518px;
  top: 2358px;
  width: 495px;
  height: 450px;
  border-style: solid;
  border-width: 2px;
  border-color: #616f39 #000000 #000000 #616f39;
  text-align: center;
}

.dev-img-div {
  position: absolute;
  left: 75px;
  top: 2175px;
  width: 400px;
  height: 400px;
  border-style: none;
}

.Offering-Left-h2 {
  position: absolute;
  left: 15px;
  top: 10px;
  font-family: 'Montserrat',  sans-serif;
  color: #ffffff;
}

.Offering-Right-h2 {
  position: absolute;
  left: 45px;
  top: 10px;
  font-family: 'Montserrat',  sans-serif;
  color: #ffffff;
}

.map-h2 {
  position: absolute;
  left: 10px;
  top: 2370px;
  font-family: 'Montserrat',  sans-serif;
  color: #616f39;
}

.bp-h1 {
  font-family: 'Montserrat',  sans-serif;
  color: #616f39;
}

.dev-h1 {
  font-family: 'Montserrat',  sans-serif;
  color: #616f39;
}

.pagetags {
  margin: 0;
  color: #ffffff;
}
